<footer>
    <hr>
    <div class="container text-center">
        <address>
            <p>GameZonia 2020 -- Tu tienda de videojuegos</p>
            <p>
                Sahagun Hidalgo, 43920 <br/>
                Tel: 123 456 7890 - Contacto: accesoria@gmail.com 
                <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="router-link-active">contacta con nosotros</a>
            </p>
        </address>
        <ul class="social nav justify-content-center">
            <li>
                <a href="https://www.youtube.com/VictorPerez2308" target="_blank">
                    <img src="/assets/img/icons/youtube.png" alt="Canal de Youtube">
                </a>
            </li>
            <li>
                <a href="https://www.twitter.com/vihupega" target="_blank">
                    <img src="/assets/img/icons/twitter.png" alt="Twitter">
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com" target="_blank">
                    <img src="/assets/img/icons/facebook.png" alt="Facebook">
                </a>
            </li>
        </ul>
    </div>
</footer>